In [1]:
from __future__ import print_function
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sb
import random
import math

sb.set_style("white")

wheres_waldo_locations = pd.read_csv("wheres-waldo-locations.csv")
wheres_waldo_locations.describe()

            Book       Page          X          Y
count  68.000000  68.000000  68.000000  68.000000
mean    3.514706   6.058824   6.700776   3.875306
std     1.856756   3.411492   3.703276   1.941349
min     1.000000   1.000000   0.625000   0.333333
25%     2.000000   3.000000   3.513889   2.250000
50%     3.000000   6.000000   6.694444   3.927083
75%     5.000000   9.000000  10.062500   5.291667
max     7.000000  12.000000  12.444444   7.708333